<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-input [(ngModel)]="magnetUri" label="magnet"></ion-input>
  </ion-item>
    <ion-fab-button (click)="download()">
    Download
  </ion-fab-button>
  <div>
    Downloading: {{fileNames}}
  </div>
</ion-content>
